<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Login Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/sign-in.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <% if (edit == 'true') { %>
      <div class="container">
        <form action="/work/edtDashboard/<%= userId %>" method="POST">
          <div class="title">Organization Dashboard</div>
          <div class="input-box underline">
            <input type="text" name="name" value="<%= name %>" placeholder="Enter Your Name" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="url" name="website" value="<%= website %>" placeholder="Enter website url" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="text" name="description" value="<%= age %>" placeholder="Enter what you do" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="text" name="positions" value="<%= position %>" placeholder="Enter offering positions" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="number" step="any" value="<%= cpi %>" name="reqcpi" placeholder="CPI" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="number" step="any" name="ctc" value="<%= ctc %>" placeholder="CTC Per Anumm" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="text" name="minage" value="<%= age %>" placeholder="Minimum age required" required>
            <div class="underline"></div>
          </div>
          <div class="input-box button">
            <input type="submit" name="" value="Submit">
          </div>
        </form>
      </div>
   
    <%} else { %>
      <div class="container">
        <form action="/work/crtDashboard/<%= userId %>" method="POST">
          <div class="title">Organization Dashboard</div>
          <div class="input-box underline">
            <input type="text" name="name" placeholder="Enter Your Name" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="url" name="website" placeholder="Enter website url" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="text" name="description" placeholder="Enter what you do" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="text" name="positions" placeholder="Enter offering positions" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="number" step="any" name="reqcpi" placeholder="CPI" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="number" step="any" name="ctc" placeholder="CTC Per Anumm" required>
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="text" name="minage" placeholder="Minimum age required" required>
            <div class="underline"></div>
          </div>
  
          
          <div class="input-box button">
            <input type="submit" name="" value="Submit">
          </div>
        </form>
      </div>
    
   <% } %>

    
  </body>
</html>

